@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

$color-btn-play: #00f;
$color-btn-stop: #f00;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
}

.section-video {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .video {
    width: 75%;
  }

  .controls {
    padding-top: 1rem;
  }
}

.heading-primary {
  font-size: 4rem;
  padding: 2rem 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.2rem;

  &--play {
    color: $color-btn-play;
  }

  &--stop {
    color: $color-btn-stop;
  }
}

.controls__timestamp {
  margin-left: 1rem;
}
